:root {
    --title-size: 2em;
    --p-size: 1.5em;
    --hover-color: grey;
}

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 11px;
    list-style: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.red {
    border: solid 5px red;
}

a {
    text-decoration: none;
  }

button {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
}

#nav {
    width: 100%;
    height: 10vh;
  
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  
    transition: 0.5s;
  }
  
  .nav_logo {
    margin: 1em 2em;
    padding: 1em 2em;
  }
  
  .nav_logo:hover>.logoIcon {
    cursor: pointer;
    color: grey;
  }
  
  .logo {
      font-size: 2em;
      text-transform: uppercase;
      font-weight: bold;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      color: gold;
      margin-left: 0.3em;
    }
  
  .nav_logo:hover > a > .logo {
    color: grey;
  }
  
  .nav_menu {
    margin: 2em 4em;
    right: 0;
  }
  
  .menuList {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    color: gold;
  
    padding: 1em;
  }
  
  .menuList:hover {
    color: grey;
    cursor: pointer;
  }

/*  */

#main {
    max-width: 1920px;
    height: 100vh;

    margin: auto;
}

.main_titleBox {
    width: 100%;
    height: 30vh;
    padding-top: 10vh;
    flex-direction: column;
}

.mainTitle {
    font-size: 3em;
    text-transform: uppercase;
}

.mainText {
    font-size: 2em;
    margin-top: 0.5em;
}

.main_imgBox {
    width: 100%;
    height: 70vh;
}

.mainImg {
    max-width: 1920px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.viewBtn {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
    color: aliceblue;
}

.viewBtn:hover {
    color: gold;
    cursor: pointer;
}


/*  */

#description {
    max-width: 1920px;
    height: 270vh;

    margin: auto;
    top: 10vh
}

.description_titleBox {
    width: 100%;
    height: 30vh;
    padding-top: 10vh;
}

.descriptionTitle {
    font-size: 3em;
}

.discription_ContentsBox {
    width: 100%;
    /* height: 240vh; */
}

.contents1 {
    width: 100%;
    height: 60vh;
    display: flex;
}

.contents1_ImgBox {
    width: 50%;
    height: 50vh;
    padding: 3em;
}

.contents1Img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contents1_textBox {
    width: 50%;
    height: 50vh;
    padding: 3em;
}

.contents1Title {
    width: 100%;
    height: 15%;
    font-size: 2em;
}

.contents1Text {
    width: 100%;
    height: 85%;
    font-size: 1.5em;
    margin-top: 2em;
}

.contents2 {
    width: 100%;
    height: 60vh;
    display: flex;
}

.contents2_textBox {
    width: 50%;
    height: 50vh;
    padding: 3em;
}

.contents2Title {
    width: 100%;
    height: 15%;
    font-size: 2em;
    text-align: end;
}

.contents2Text {
    width: 100%;
    height: 85%;
    font-size: 1.5em;
    text-align: end;
    margin-top: 2em;
}

.contents2_ImgBox {
    width: 50%;
    height: 50vh;
    padding: 3em;
}

.contents2Img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contents3 {
    width: 100%;
    height: 50vh;
    display: flex;
}

.contents3_ImgBox {
    width: 50%;
    height: 50vh;
    padding: 3em;
}

.contents3Img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contents3_textBox {
    width: 50%;
    height: 50vh;
    padding: 3em;
}

.contents3Title {
    width: 100%;
    height: 15%;
    font-size: 2em;
}

.contents3Text {
    width: 100%;
    height: 85%;
    font-size: 1.5em;
    margin-top: 2em;
}

.contents4 {
    width: 100%;
    height: 50vh;
    display: flex;
}

.contents4_ImgBox {
    width: 50%;
    height: 50vh;
    padding: 3em;
}

.contents4Img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contents4_textBox {
    width: 50%;
    height: 50vh;
    padding: 3em;
}

.contents4Title {
    width: 100%;
    height: 15%;
    font-size: 2em;
}

.contents4Text {
    width: 100%;
    height: 85%;
    font-size: 1.5em;
    margin-top: 2em;
}

/*  */

#clients {
    max-width: 1920px;

    margin: auto;
    top: 10vh
}

.clients_titleBox {
    width: 100%;
    height: 30vh;
    padding-top: 10vh;
}

.clientsTitle {
    font-size: 3em;
}

.clients_List {
    width: 100%;
}

.clientsBox1 {
    width: 30%;
    height: 80%;
    padding: 3em;
}

.clients_TitleBox1 {
    width: 100%;
    height: 10vh;
}

.clientImg1 {
    width: 100%;
    height: 30vh;
}

.clientsBox2 {
    width: 30%;
    height: 80%;
    padding: 3em;
}

.clients_TitleBox2 {
    width: 100%;
    height: 10vh;
}

.clientImg2 {
    width: 100%;
    height: 30vh;
}

.clientsBox3 {
    width: 30%;
    height: 80%;
    padding: 3em;
}

.clients_TitleBox3 {
    width: 100%;
    height: 10vh;
}

.clientImg3 {
    width: 100%;
    height: 30vh;
}

/*  */

#contact {
    width: 100%;
    height: 20vh;

    flex-direction: column;
}

.contactBox {
    width: 100%;
    height: 100%;
}

.clientImg1, .clientImg2, .clientImg3 {
    object-fit: cover;
}

.contactSns {
    width: 100%;
    height: 50%;
}

.contactList {
    font-size: 3em;
    margin: 0.5em;
}

.contactCopyright {
    width: 100%;
    height: 50%;
    color: aliceblue;
    background-color: darkslategray;
}

.copyrightText {
    font-size: 1.5em;
    font-style: normal;
}

h5 {
    font-size: 2em;
}

/* */

.line01 {
    width: 80%;
    height: 0.1em;
    background-color: gray;
    margin: 0vh auto 5vh auto;
  }