/* :root {
  --title-size: 2em;
  --p-size: 1.5em;
  --hover-color: grey;
} */

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  font-size: 11px;
  list-style: none;

  scroll-behavior: smooth;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.red {
  border: solid 5px red
}

a {
  text-decoration: none;
}

.sectionLine_Con {
  width: 100%;
  height: 20vh;
}

.sectionLine {
  width: 50vw;
  height: 0.1vh;
  background-color: transparent;
}



#nav {
  width: 100%;
  height: 10vh;

  position: fixed;
  z-index: 1;
}

.navBox {
  max-width: 1920px;
  width: 100%;
  height: 8vh;

  display: flex;
  justify-content: space-between;
}

.nav_logo {
  width: 50%;
  height: 100%;
  padding-left: 5vw;
  display: flex;
  align-items: center;
}

.nav_logo:hover>.navlogoIcon {
  cursor: pointer;
  background-image: url(./img/main/navLogo_g.png);
}

.navIcon_a {
  transition: 3s;
}

.navlogoIcon {
  width: 7em;
  height: 3em;
  margin-bottom: 1em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-position: center;
  background-image: url(./img/main/navLogo.png);
}

.navlogo_text {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(255, 215, 0);
  margin-left: 0.3em;
}

.nav_logo:hover .navlogo_text {
  color: aliceblue;
}

.nav_menu {
  width: 50%;
  height: 100%;

  padding-right: 5vw;
  display: flex;
  justify-content: end;
  align-items: center;
}

.menuList {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  color: gold;

  padding: 1em;
}

.menuList:hover {
  color: aliceblue;
  cursor: pointer;
}

/*  */

#main {
  max-width: 100%;
  height: 90vh;
  background-image: url(./img/main/main_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  position: relative;
  margin: auto;
}

.main_box {
  width: 30em;
  height: 30em;

  position: relative;
}

.main_logo {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25em;
  display: block;
}

.main_nextBtn {
  width: 50%;
  height: 30%;
  margin: auto;
  margin-top: 10em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-image: url(./img/main/arrowBtn_y.png);
}

.main_nextBtn:hover {
  cursor: pointer;
  background-image: url(./img/main/arrowBtn.png);
}

.nextBtnText {
  color: rgb(46, 46, 46);
  font-size: 2em;
  font-weight: 500;
  text-transform: uppercase;
}

.nextBtnUnderLine {
  width: 16em;
  height: 2px;
  background-color: rgb(46, 46, 46);
}

.main_nextBtn:hover>.nextBtnText {
  cursor: pointer;
  color: lightgray;
}

.main_nextBtn:hover>.nextBtnUnderLine {
  cursor: pointer;
  background-color: lightgray;
}

/*  */

#introduce {
  width: 100%;
  height: 130vh;
  position: relative;
}

.introduce_slideCon {
  max-width: 1920px;
  height: 80vh;

  margin: auto;
  position: relative;
}

.slideBox {
  width: 100%;
  height: 100%;
}

.slideBtnBox {
  width: 100%;
  height: 20vh;
  position: absolute;
  display: flex;
  justify-content: space-between;
}

.leftBtn,
.rightBtn {
  width: 10vh;
  height: 20vh;
  background-color: transparent;
}

.leftBtnIcon,
.rightBtnIcon {
  font-size: 7em;
  color: gold;
}

.fa-chevron-left:hover,
.fa-chevron-right:hover {
  cursor: pointer;
  color: aliceblue;
}

.slideList {
  width: 100%;
  height: 100%;
  display: block;
  visibility: hidden;
  object-fit: cover;
  position: absolute;
}

.active {
  visibility: visible;
}

.introduce_workCon {
  width: 100%;
  height: 50vh;
  position: relative;
}

.workBox {
  width: 70vw;
  height: 100%;
  padding: 10em 5em;
}

.workTitle {
  font-size: 3em;
  font-weight: 200;
}

.workText {
  font-size: 1.5em;

  line-height: 200%;
  text-align: center;
  padding-top: 4em;
}

/*  */

#contact {
  width: 100%;
  height: 100vh;

  flex-direction: column;
}

.contactImg {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.contactBox {
  width: 100%;
  height: 20%;
  display: block;
}

.contactSns {
  width: 100%;
  height: 70%;
}

.contactList {
  font-size: 4em;
  margin: 0.5em;
  color: gold;
}

.contactList:hover {
  cursor: pointer;
  color: grey;
}

.contactCopyright {
  width: 100%;
  height: 30%;
  background-color: darkslategray;
  color: aliceblue;
}

.fa-envelope {
  font-size: 4.5em;
}


.copyrightText {
  font-size: 1.5em;
  font-style: normal;
}

/*  */